body{
    margin:10px
}

.Barra{
    height:100px;
    background-color: #232f3e;
    display: grid;
    grid-template-columns: auto 100px;
}

.PBarra{
    color:azure;
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
    height: 100px;
}

.BtnCarrinho{
    grid-row-start: 2;
    height: 50px;
    width: 100px;
    border: none;
    background-color: coral;
}
.Canto{
    display: grid;
    grid-template-rows: auto 50px;
}

